
.main
{
    height: auto;
    width: 30%;
    // margin: auto;
    padding-top: 0.2em;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(112, 112, 112);
    font-family: sans-serif;
    border: 1.2px solid black;
}

.main > div
{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}


button
{
    height: 3em;
    width: 6em;
    font-size: 18px;
}

.tableDiv
{
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(182, 182, 182);
}

