.main {
  width: 28%;
  margin: auto;
  height: auto;
  padding-top: 18px;
  border-radius: 10px;
  font-family: sans-serif;
  box-shadow: 0 0 10px black;
}

.titleDiv,
.imageDiv,
.loginContentDiv,
.registerDiv,
.button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loginContent {
  width: 68%;
}

.registerLink {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

img {
  height: 8em;
  width: 8em;
  margin-bottom: 0px;
}

.mat-mdc-form-field {
  width: 100%;
}

.container {
  position: absolute;
  width: 100%;
}

.spinner {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}
